@auction-width: 40em;

html {
  font-size: 1.5rem;
  background-color: black;
}

body {
  margin: 0 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#auction-house {
  position: relative;
  margin: 0 auto;
  padding: 1em;
  max-width: @auction-width;
  height: 100vh;
  background-image: url('Art Assets/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;

  #lot-info {
    background-color: fade(#c52, 50);
    padding: .5em 1em;
    border: .2em solid white;
    border-radius: .5em;
    float: right;
    max-width: 50%;
  }

  #auctioneer {
    position: absolute;
    bottom: 10%;
    height: 80%;
    width: 50%;
    background-image: url('Art Assets/auctioneer_1/AuctionGuy_1.png');
    background-position: bottom 4em center;
    background-size: auto 80%;
    background-repeat: no-repeat;

    #auctioneer-interactions {
      p {
        margin-top: .5em;
      }

      position: absolute;
      bottom: 0;
      width: 100%;

      #bid-button {
        display: block;
        margin: 0 auto;
        font-size: 1.5em;
      }
    }
  }

  #participants {
    position: absolute;
    bottom: 0;
    right: 1em;

    > li {
      display: inline-block;
      margin: 0 .5em;

      &.winning {
        font-weight: bold;
      }
    }
  }

  #goings span {
    display: none;
  }

  #goings span.shown {
    display: inline;
  }

  &::before, &::after {
    position: absolute;
    top: 0;
    content: ' ';
    height: 100vh;
    width: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::before {
    right: @auction-width - .5em;
    background-image: url('Art Assets/curtains_left.png');
    background-position: right;
  }
  &::after {
    left: @auction-width - .5em;
    background-image: url('Art Assets/curtains_right.png');
    background-position: left;
  }
}
