@auction-width: 40em;

html {
  font-size: 1.5rem;
  background-color: black;
}

body {
  margin: 0 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#auction-house {
  position: relative;
  margin: 0 auto;
  padding: 1em;
  max-width: @auction-width;
  height: 100vh;
  background-image: url('Art Assets/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;

  #lot-info {
    background-color: fade(#c52, 50);
    padding: .5em 1em;
    border: .2em solid white;
    border-radius: .5em;
    float: right;
    max-width: 50%;
  }

  #auctioneer {
    position: absolute;
    bottom: 15%;
    height: 80%;
    width: 70%;
    background-position: bottom 1.5em center;
    background-size: auto 80%;
    background-repeat: no-repeat;

    &[data-gesticulation="1"] { background-image: url('Art Assets/auctioneer_1/AuctionGuy_1.png'); }
    &[data-gesticulation="2"] { background-image: url('Art Assets/auctioneer_1/AuctionGuy_2.png'); }
    &[data-gesticulation="3"] { background-image: url('Art Assets/auctioneer_1/AuctionGuy_3.png'); }
    &[data-gesticulation="4"] { background-image: url('Art Assets/auctioneer_1/AuctionGuy_4.png'); }
    &[data-gesticulation="5"] { background-image: url('Art Assets/auctioneer_1/AuctionGuy_5.png'); }
    &[data-gesticulation="6"] { background-image: url('Art Assets/auctioneer_1/AuctionGuy_6.png'); }
    &[data-gesticulation="7"] { background-image: url('Art Assets/auctioneer_1/AuctionGuy_7.png'); }
    &[data-gesticulation="8"] { background-image: url('Art Assets/auctioneer_1/AuctionGuy_8.png'); }
    &[data-gesticulation="9"] { background-image: url('Art Assets/auctioneer_1/AuctionGuy_9.png'); }
    &[data-gesticulation="10"] { background-image: url('Art Assets/auctioneer_1/AuctionGuy_10.png'); }
    &[data-gesticulation="11"] { background-image: url('Art Assets/auctioneer_1/AuctionGuy_11.png'); }

    #auctioneer-interactions {
      p {
        margin-top: .5em;
      }

      position: absolute;
      bottom: 0;
      width: 100%;

      #bid-button {
        display: block;
        margin: 0 auto;
        font-size: 1.3em;
      }
    }
  }

  #participants {
    position: absolute;
    bottom: 0;
    right: 1em;
    width: 100%;
    height: 100%;
    pointer-events: none;
    text-align: right;
    color: rgba(0, 0, 0, 0);

    > li {
      display: inline-block;
      margin: 0 -5%;
      width: 25%;
      height: 100%;

      transform-origin: bottom;
      transition: transform .5s;
      transform: scale(1.0);

      &.winning {
        transform: scale(1.2);
      }

      &:nth-child(2) {
        background-image: url('Art Assets/Opponents/opp_1_1.png');
        &.winning { background-image: url('Art Assets/Opponents/opp_1_2.png'); }
      }
      &:nth-child(3) {
        background-image: url('Art Assets/Opponents/opp_2_1.png');
        &.winning { background-image: url('Art Assets/Opponents/opp_2_2.png'); }
      }
      &:nth-child(4) {
        background-image: url('Art Assets/Opponents/opp_3_1.png');
        &.winning { background-image: url('Art Assets/Opponents/opp_3_2.png'); }
      }
      &:nth-child(5) {
        background-image: url('Art Assets/Opponents/opp_4_1.png');
        &.winning { background-image: url('Art Assets/Opponents/opp_4_2.png'); }
      }

      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom center;
    }
  }

  #goings span {
    display: none;
  }

  #goings span.shown {
    display: inline;
  }

  &::before, &::after {
    position: absolute;
    top: 0;
    content: ' ';
    height: 100vh;
    width: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::before {
    right: @auction-width - .5em;
    background-image: url('Art Assets/curtains_left.png');
    background-position: right;
  }
  &::after {
    left: @auction-width - .5em;
    background-image: url('Art Assets/curtains_right.png');
    background-position: left;
  }
}
